/* style.css */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: "loto", sans-serif, Verdana;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

:root {
  --primary-color: #8E7DBE;
  --secondary-color: #F4F8D3;
  --tertiary-color: #A6D6D6;
}

input,
button {
  font-family: inherit;
  font-size: 100%;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  grid-template-rows: 1fr 1fr 3.5fr 3.5fr;
}

.top-bar {
  display: flex;
  align-items: center;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  padding: 1rem;
  height: 100%;
}

.searchbar-form {
  display: flex;
  align-items: center;
  width: 100%;
}

input[type="search"] {
  appearance: none;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  width: clamp(10rem, 80%, 40rem);
}

input[type="search"]:focus {
  background-color: var(--secondary-color);
}

.search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 60%;
}

.top-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 40%;
  margin-left: 2rem;
  margin-right: 2rem;
}

.content-management {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 2px lightgray;
  min-height: 100px;
  z-index: 0;
  position: relative;
}

.profile-display {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  gap: 1rem;
}

.greeting,
.user-name {
  display: block;
}

.greeting {
  font-size: 1rem;
}

.user-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.content-buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 4rem;
  gap: 2rem;
  width: 40%;
}

button {
  appearance: none;
  border: solid 1px white;
  background-color: var(--primary-color);
  color: white;
  border-radius: 20px;
  padding: 0.4rem 1rem;
  width: min(6rem, 30%);
  font-weight: 600;
}

button:active {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  height: 100%;
  padding: 2rem;
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  background-color: var(--primary-color);
  color: white;
}

.side-title > svg {
  color: white;
  height: 2.5rem;
}

.mid-sidebar svg,
.low-sidebar svg {
  color: white;
  height: 1.5rem;
}

.side-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.side-title,
.mid-sidebar > div,
.low-sidebar > div {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.projects {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  padding: 1rem 0.9rem;
  background-color: var(--secondary-color);
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
}

.project-cards > div {
  border-radius: 10px;
  padding: 1.3rem;
  background: linear-gradient(
    to right,
    var(--tertiary-color) 0%,
    var(--tertiary-color) 3%,
    white 3%,
    white 100%
  );
  box-shadow: 2px 2px 10px lightgray;
}

.social-icons {
  margin-top: 0.7rem;
  text-align: right;
}

.announcements {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%;
  padding: 1rem 0.9rem;
}

.announcements > div {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 0.8rem;
  width: 90%;
  gap: 1rem;
  box-shadow: 2px 2px 10px lightgray;
}

.announcement-item1,
.announcement-item1 + div {
  border-bottom: solid 1px lightgray;
  padding-bottom: 0.5rem;
}

.announcements p {
  font-size: 0.8rem;
}

.trending {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%;.icons {
    width: 1.5rem;
  }
  padding: 1rem 0.9rem;
}

.trending-list {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 10px;
  padding: 0.8rem;
  width: 90%;
  gap: 1rem;
  box-shadow: 2px 2px 10px lightgray;
}

.trending-account {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.trending-account > div > span {
  display: block;
  font-size: 0.8rem;
}

.trending-account > div span:first-of-type {
  font-weight: 700;
}

.icons {
  width: 1.5rem;
}

.profile {
  width: 3rem;
}

.profile-large {
  width: 4rem;
}

.display-link {
  text-decoration: none;
  color: black;
}

img {
  display: inline;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 0.8rem;
}